@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240, 3%, 6%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 265 100% 71%;
    --primary-light: 258 77% 80%;
    --primary-foreground: 24 9.8% 10%;

    --green: 154 85% 16%;
    --green-500: 137, 63%, 49%;
    --blue: 210, 100%, 32%;
    --orange: 25, 100%, 38%;

    --secondary: 0 0% 82%;
    --secondary-dark: 220 9% 65%;
    --secondary-foreground: 60 9.1% 97.8%;

    --tertiary: 215 18% 34%;

    --muted: 220 4% 16%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 240 1% 19%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;

    --radius: 0.5rem;
    
    --dark-400: 218, 10.6%, 64.9%;
    --dark-500: 220 4% 16%;
    --dark-900: 240 3% 8%;
    --dark-800: 223 11% 13%;
    --separator: 240 1% 19%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .container-main {
    @apply mx-auto max-w-[90rem] px-4 sm:px-8 xl:px-12;
  }
  .text-gradient {
    @apply bg-gradient-to-r from-[#AC6AFF] to-[#DF7364] bg-clip-text text-transparent;
  }
  .gradient-secondary {
    background: linear-gradient(180deg, #ac6aff 6.94%, #df7364 102.8%);
  }
  .qr-border {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='32' ry='32' stroke='%23333' stroke-width='6' stroke-dasharray='14%2c24' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }
}
