@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.pagefind-ui__result-excerpt {
  text-align: justify;
}

.pagefind-ui__search-input:focus-visible {
  border: none !important;
  outline: none !important;
}
