name: Deploy Backend App

on:
  workflow_dispatch:
  push:
    branches:
      # - stage
      - prod
    paths:
      - 'apps/server/src/**'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    environment: ${{ github.ref_name == 'stage' && 'STAGE' || 'PROD' }}
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
            version: 10

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      
      - name: Check if repository exists and create if not
        run: |
          REPO_NAME=${{ secrets.DOCKER_REPOSITORY_NAME}}
          STATUS=$(curl -s -o /dev/null -w "%{http_code}" https://hub.docker.com/v2/repositories/${{ secrets.DOCKER_USERNAME }}/${REPO_NAME})
          if [ "$STATUS" != "200" ]; then
            echo "Repository doesn't exist. Creating it..."
            curl -X POST \
              -H "Content-Type: application/json" \
              -H "Authorization: JWT ${{ secrets.DOCKER_TOKEN }}" \
              -d '{"namespace":"${{ secrets.DOCKER_USERNAME }}","name":"'${REPO_NAME}'","is_private":false}' \
              https://hub.docker.com/v2/repositories/
          else
            echo "Repository already exists."
          fi
          
      - name: Get latest tag from Docker Hub
        id: get-latest-tag
        run: |
          REPO_NAME=${{ secrets.DOCKER_REPOSITORY_NAME}}
          LATEST_TAG=$(curl -s "https://hub.docker.com/v2/repositories/${{ secrets.DOCKER_USERNAME }}/${REPO_NAME}/tags?page_size=1" | jq -r '.results[0].name')
          if [ "$LATEST_TAG" = "null" ] || [ -z "$LATEST_TAG" ]; then
            NEXT_TAG=1
          else
            NEXT_TAG=$((LATEST_TAG + 1))
          fi
          echo "NEXT_TAG=${NEXT_TAG}" >> $GITHUB_OUTPUT
          echo "Current latest tag: $LATEST_TAG"
          echo "Next tag will be: $NEXT_TAG"
        
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./apps/server
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPOSITORY_NAME}}:latest
            ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPOSITORY_NAME}}:${{ steps.get-latest-tag.outputs.NEXT_TAG }}
