name: Deploy Backend App
on:
  workflow_dispatch:
  # push:
  #  branches:
  #     - main
  #  paths:
  #     - 'apps/server/**'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: checkout repository
        uses: actions/checkout@v2

      - name: Setup npm
        uses: actions/setup-node@v3
        with:
            node-version: 20

      - name: Install Railway
        run: npm i -g @railway/cli

      - name: Deploy
        working-directory: ./apps/server
        run: railway up --service ${{ secrets.RAILWAY_SERVICE_ID }}
        env:
            RAILWAY_TOKEN: ${{ secrets.RAILWAY_GITHUB_ACTION_TOKEN }}
