name: Deploy Frontend App

on:
  workflow_dispatch:
  push:
   branches:
      # - stage
      - prod
   paths:
      - 'apps/web/app/**'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    environment: ${{ github.ref_name == 'stage' && 'STAGE' || 'PROD' }}
    env:
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_FRONTEND_PROJECT_ID }}
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
            version: 10

      - name: Install Vercel CLI
        run: pnpm install --global vercel@latest

      - name: Pull vercel environment information
        run: vercel pull --yes --environment=production --token=$VERCEL_TOKEN

      - name: Build Project Artifacts
        run: vercel build --prod --token=$VERCEL_TOKEN

      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --prod --token=$VERCEL_TOKEN
